* {
  font-family: monospace;
  font-weight: 900;
}

body {
  background-color: #f0f8ff;
}

.container {
  border: 1px solid #3498db;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container button{
    float: right;
}

button{
    background-color: blue;
}